@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

@font-face {
  font-family: "Hexaframe CF";
  src: url("../../fonts/hexaframe/HexaframeCF-Bold.eot");
  src: local("Hexaframe CF Bold"), local("HexaframeCF-Bold"),
    url("../../fonts/hexaframe/HexaframeCF-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/hexaframe/HexaframeCF-Bold.woff2") format("woff2"),
    url("../../fonts/hexaframe/HexaframeCF-Bold.woff") format("woff"),
    url("../../fonts/hexaframe/HexaframeCF-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* WHEY */
@font-face {
  font-family: "Whyte";
  src: url("../../fonts/ABCWheyte/Whyte-Regular.eot");
  src: local("Whyte Regular"), local("Whyte-Regular"),
    url("../../fonts/ABCWheyte/Whyte-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/ABCWheyte/Whyte-Regular.woff2") format("woff2"),
    url("../../fonts/ABCWheyte/Whyte-Regular.woff") format("woff"),
    url("../../fonts/ABCWheyte/Whyte-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Whyte";
  src: url("../../fonts/ABCWheyte/Whyte-ExtraLight.eot");
  src: local("Whyte ExtraLight"), local("Whyte-ExtraLight"),
    url("../../fonts/ABCWheyte/Whyte-ExtraLight.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/ABCWheyte/Whyte-ExtraLight.woff2") format("woff2"),
    url("../../fonts/ABCWheyte/Whyte-ExtraLight.woff") format("woff"),
    url("../../fonts/ABCWheyte/Whyte-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Whyte";
  src: url("../../fonts/ABCWheyte/Whyte-Medium.eot");
  src: local("Whyte Medium"), local("Whyte-Medium"),
    url("../../fonts/ABCWheyte/Whyte-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/ABCWheyte/Whyte-Medium.woff2") format("woff2"),
    url("../../fonts/ABCWheyte/Whyte-Medium.woff") format("woff"),
    url("../../fonts/ABCWheyte/Whyte-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Whyte";
  src: url("../../fonts/ABCWheyte/Whyte-Thin.eot");
  src: local("Whyte Thin"), local("Whyte-Thin"),
    url("../../fonts/ABCWheyte/Whyte-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/ABCWheyte/Whyte-Thin.woff2") format("woff2"),
    url("../../fonts/ABCWheyte/Whyte-Thin.woff") format("woff"),
    url("../../fonts/ABCWheyte/Whyte-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
