.contact {
  .contact-wrapper {
    &.row {
      margin: 0;
      form {
        button {
          padding: 10px 15px;
          width: 200px;
        }
        @media screen and (max-width: 575px) {
          margin-bottom: 10px;
        }
        @media screen and (max-width: 991px) {
          button {
            width: 100%;
          }
        }
      }
      iframe {
        @media screen and (max-width: 991px) {
          width: 100%;
        }
      }
    }
  }
}
