header {
  position: fixed;
  width: 100%;
  max-width: 1140px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  backdrop-filter: saturate(180%) blur(5px);
  background: rgba(255, 255, 255, 0.8);
  @include border();
  .logo {
    a {
      @include fontHexa();
      color: $text-black;
      span {
        color: $text-blue;
      }
    }
  }
  .right {
    display: flex;
    align-items: center;
    i {
      font-size: 20px;
      margin-right: 25px;
      position: relative;
      cursor: pointer;
      p {
        position: absolute;
        font-size: 8px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: $text-blue;
        text-align: center;
        line-height: 16px;
        font-weight: bold;
        color: $text-white;
        top: -8px;
        right: -8px;
      }
    }
    div {
      width: 20px;
      height: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      //   display: ;
      span {
        display: block;
        width: 20px;
        height: 2px;
        background-color: $text-black;
      }
    }
  }
}
